* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  height: 100vh;
  width: 100vw;
}

.SpringDickson {
  height: 100px;
  width: 100px;
  position: fixed;
  top: 40vh;
  left: 30vw;
  z-index: 100;
}

.fundo{
  height: 100vh;
  width: 100vw;
  z-index: 99;
}